# Secrets
config.ini
config.json
*.key
*.pem
.env
**/account_config.json
美国节点.txt

# Logs
*.log
logs/

# System
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
.trae/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.browser_data/
node_modules/
venv_mac/
openclaw/
multi-platform-publisher/
MoneyPrinterTurbo/
my-personal-blog/
MyAI_Agent/
Agent GitHub/
social-auto-upload/
Project_N_System/
OmniPublish/
obsidian-skills/
AIMedia/
markitdown_env/
